@inject IJSRuntime JSRuntime


@code{

    private string promptResult;
    private Employee employee;

    private async Task ShowPrompt()
    {
        var result = await JSRuntime.InvokeAsync<string>("blazorInterop.showPrompt", "What's your name", promptResult ?? "");

        if (result != null)
        {
            promptResult = result;
        }
    }

    private async Task CreateEmployee()
    {
        employee = await JSRuntime.InvokeAsync<Employee>("blazorInterop.createEmployee", "Sean", "Newman");
    }
}

<h2>Call JavaScript functions that return a value</h2>

<div class="row">
    <div class-="col">
        <button class="btn btn-secondary" @onclick="ShowPrompt">Show Prompt</button>
        <div>Prompt result : @promptResult</div>
    </div>
    <div class-="col">
        <button class="btn btn-secondary" @onclick="CreateEmployee">Get object from JavaScript</button>
        <div>@employee?.FirstName @employee?.LastName (@employee?.Email)</div>
    </div>
</div>
