@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

<h2>Use JavaScript module</h2>
<button class="btn btn-secondary" @onclick="ShowAlert">
  Show alert from JavaScript module
</button>

@code {
  private IJSObjectReference module;

  private async Task ShowAlert()
  {
    if (module == null)
    {
      module = await JSRuntime.InvokeAsync<IJSObjectReference>("import",
        "./scripts/alertModule.js");
    }

    await module.InvokeVoidAsync("showAlert", "Hi, I'm Thomas from the JavaScript module");
  }

  public async ValueTask DisposeAsync()
  {
    if (module != null)
    {
      await module.DisposeAsync();
    }
  }
}
