@if (_isOnline)
{
  <div class="isOnline">You're online</div>
}
else
{
  <div class="isOffline">You're offline</div>
}

@code {
  private bool _isOnline = true;

  // TODO: Get status from navigator's onLine property
  //       and subscribe to 'online' and 'offline' events to update
}
